@import "tailwindcss";

body {
  @apply bg-black text-white;
}

@layer base {
  :root {
    --custom-gray: #4a4a4a;
    --custom-cyan: #008c9d;
    --hover-cyan: #005f7a;
    --hover-white: #d8d8d8;
    --gray-text: #9e9e9e;
  }
}
